body{
    font-family: 'Open Sans',sans-serif;
    background-color: rgb(81, 81, 81);
    }
    header{
        background-color:#20b2aa;
        /* width: 20vh; */
    }
    h1 {
        font-weight: 500;
        margin: 0;
        background: -webkit-linear-gradient(45deg, #c3264d 10%, #d0f980 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color:#ffa500;
        font-weight: 400;
        font-family: "DM Serif Text", serif;
        margin: 0 auto ;
        max-width: 9em;
      }
      .warning {
        background: -webkit-linear-gradient(45deg, #c3264d 10%, #d0f980 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #44e4d1;
        font-weight: 400;
        font-family: "DM Serif Text", serif;
        margin: 0 auto 6em;
        max-width: 9em;
      }
      
    #container{
    width: 1000px;
    height: 550px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0,0,0,0.3));
    margin: 20px auto;
    }
    #calculator{
    width: 320px;
    height: 520px;
    background-color: #eaedef;
    margin: 0 auto;
    top: 20px;
    position: relative;
    border-radius: 50px 0 50px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    #result{
    height: 120px;
    }
    #history{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #000;
    }
    #output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
    }
    #keyboard{
    height: 400px;
    }
    .operator, .number, .empty{
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50% 0 50;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
    }
    .number, .empty{
    background-color: #eaedef;
    }
    .number, .operator{
    cursor: pointer;
    }
    .operator:active, .number:active{
    font-size: 13px;
    }
    .operator:focus, .number:focus, .empty:focus{
    outline: 0;
    }
    button:nth-child(4){
    font-size: 20px;
    
    }
    button:nth-child(8){
    font-size: 20px;
    
    }
    button:nth-child(12){
    font-size: 20px;
    
    }
    button:nth-child(16){
    font-size: 20px;
    
    }
    button:nth-child(20){
    font-size: 20px;
    
    }
    footer {
        margin: 5rem auto 0rem auto;
        background-color: hsl(0deg, 0%, 3%);
      }
      footer .credit {
        margin: 5rem auto 0rem;
        padding: 0 0 4rem 0;
        color: hsl(0deg, 0%, 100%);
        text-align: center;
        letter-spacing: 1.2px;
      }
      footer .credit a {
        color: hsl(167deg, 82%, 65%);
      }